{% extends "@FOSUser/layout.html.twig" %}

{% block fos_title %}
    <div class="row">
    <div class="col-md-10">
        Mon Compte
    </div>
    <div class="col-md-2">
        <a class="btn btn-warning" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
    </div>
    </div>
{% endblock %}


{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
